@font-face {
  font-family: "Gorditas";
  src: url("../fonts/Gorditas-Regular.ttf");
}
@font-face {
  font-family: "LoveYa";
  src: url("../fonts/LoveYaLikeASister.ttf");
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  height: auto;
  min-width: 640px;
  background-image: url("/assets/bg.png");
  padding-top: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 850px;
  display: flex;
  justify-content: space-between;
  .logo {
    width: 100px;
  }
  .back {
    height: 50px;
  }
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-right: 25px;
}
.menu-container {
  display: flex;
  flex-direction: column;
  img {
    width: 120px;
    margin-left: 100px;
  }
}
.menu {
  height: 500px;
  width: 350px;
  background-repeat: no-repeat;
  background-image: url("/assets/menu-img.png");
  background-size: 280px;
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  img {
    width: auto;
    height: 25px;
    margin-bottom: 30px;
    transform: translate(-20px);
    &:hover {
      box-shadow: 9px 14px 30px 0px rgba(0, 0, 0, 0.75);
    }
  }
}

.window {
  width: 550px;
  height: 480px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 25px;
}

.container {
  width: 100%;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url(./Assets/Rectangle\ 16.png);
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: top;
}
.info {
  width: 75%;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  margin-bottom: 10px;
  justify-content: space-between;
}
.info-left {
  margin-top: 1px;
  padding-top: 10px;
  width: 300px;
  height: 90px;
  margin-bottom: -35px;
  background-image: url(./Assets/Rectangle\ 46.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
    transform: translate(25px);
  }
}
.info-right {
  @extend .info-left;
  margin-left: 0px;
  p {
    padding-left: 10px;
    padding-top: 5px;
  }
}
.arms {
  width: 70%;
  height: 75px;
  display: flex;
  justify-content: space-evenly;
  background-image: url("./Assets/Rectangle 30.png");
  background-size: 90%;
  background-repeat: no-repeat;
  margin-top: 8px;
  margin-left: 40px;
}
.first{
  margin-top: -3px;
}
.arms-left {
  width: 10%;
  img {
    width: 35px;
  }
  p{
    font-size: .8rem;
  }
}
.arms-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
.right-first {
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: white;
  span{
    font-size: .8rem;
    font-weight: 600;
  }
}
.right-second {
  width: 100%;
  height: 20px;
  margin-top: 5px;
  background-image: url(./Assets/Rectangle\ 27-1.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-left: 25px;
  img {
    height: 20px;
  }
}
.right-third {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img:first-child {
    height: 5px;
  }
  img:nth-child(2) {
    height: 15px;
  }
}
.start-button {
  width: 90px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./Assets/Rectangle\ 58.png);
  background-size: contain;
  cursor: pointer;
  p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
}
@media (max-width: 945px) {
  body {
    height: auto;
  }
  header {
    width: 600px;
  }
  .menu-container {
    margin-left: -105px;
    margin-right: -50px;
    img {
      margin-left: 70px;
    }
  }
  .menu {
    width: 250px;
    background-size: 250px;
    margin-left: 85px;
    padding-top: 70px;
    img {
      margin-bottom: 20px;
    }
  }
  .window {
    width: 63%;
    height: 430px;
    margin-top: 85px;
    transform: translate(50px, -65px);
    padding-top: 5px;
    justify-content: center;
  }
  .container {
    width: 525px;
    height: 430px;
    background-size: 400px;
  }
  .arms {
    width: 380px;
    margin-top: 5px;
  }
  .first{
    margin-top: -10px;
  }
  @media (max-width: 730px) {
    header {
    width: 550px;
  }
  .window{
    width: 58%;
  }
   .container {
    width: 435px;
    height: 430px;
    background-size: 350px;
  }
  .info{
    justify-content: center;
  }
  .info-left{
    width: 380px;
    p{
      font-size: .5rem;
    }
  }
  .arms{
    width: 75%;
  }
  .right-second img{
    margin-left: -5px;
  }
  }
}
